<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
           http://www.springframework.org/schema/beans/spring-beans.xsd  
           http://www.springframework.org/schema/context  
           http://www.springframework.org/schema/context/spring-context.xsd  
           http://www.springframework.org/schema/aop  
           http://www.springframework.org/schema/aop/spring-aop.xsd  
           http://www.springframework.org/schema/tx   
           http://www.springframework.org/schema/tx/spring-tx.xsd  
           http://code.alibabatech.com/schema/dubbo  
		   http://code.alibabatech.com/schema/dubbo/dubbo.xsd"> 		    
  
    <!-- 提供方应用信息，用于计算依赖关系 -->  
   <dubbo:application name="ebird_AppServer" />  
  
   <dubbo:registry protocol="zookeeper" address="172.16.180.126:2181" />  
  
    <!-- 暴露服务 -->  
   <dubbo:protocol name="dubbo" port="20880" />  
    
   <!-- 声明需要暴露的服务接口 -->
   <dubbo:reference  interface="com.ebird.ebird_api.UserService" id="userService"  check="true"/> 
</beans>  